@model SportsStore.WebUI.Models.AssignRoleViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddToUser</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        @ViewBag.ResultMessage
        
        <fieldset>
            <legend>AssignRoleViewModel</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.RoleName)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(x => x.RoleName, @Model.RolesList)
                @Html.ValidationMessageFor(model => model.RoleName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(x => x.UserName, @Model.UserList)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
